:root {

  /* Color: Mode 1 */
  --Color: Mode 1--Background--White: rgba(255, 255, 255, 1); 
  --Color: Mode 1--Background--Transparent_White: rgba(255, 255, 255, 0.1); 
  --Color: Mode 1--Background--Surface_Light: rgba(249, 249, 249, 1); 
  --Color: Mode 1--Background--Light_Color: rgba(242, 245, 255, 1); 
  --Color: Mode 1--Background--Dark_Blue: rgba(39, 58, 125, 1); 
  --Color: Mode 1--Background--Primary_Color: rgba(3, 196, 161, 1); 
  --Color: Mode 1--Background--Stoke_BG: rgba(224, 224, 224, 1); 
  --Color: Mode 1--Background--Transparent_Stoke_BG: rgba(224, 224, 224, 0.32); 
  --Color: Mode 1--Background--Dark: rgba(14, 20, 44, 1); 
  --Color: Mode 1--Background--Transparent_Dark: rgba(14, 20, 44, 0.15); 
  --Color: Mode 1--Button--Primary--Disable: rgba(191, 232, 225, 1); 
  --Color: Mode 1--Button--Primary--Normal: rgba(3, 196, 161, 1); 
  --Color: Mode 1--Button--Primary--Hover: rgba(4, 158, 136, 1); 
  --Color: Mode 1--Button--Primary--Pressed: rgba(0, 127, 110, 1); 
  --Color: Mode 1--Button--Secondary--Stoke: rgba(250, 250, 250, 1); 
  --Color: Mode 1--Button--Secondary--Disable: rgba(245, 245, 245, 1); 
  --Color: Mode 1--Button--Secondary--Normal: rgba(245, 245, 245, 1); 
  --Color: Mode 1--Button--Secondary--Hover: rgba(221, 221, 221, 1); 
  --Color: Mode 1--Button--Secondary--Pressed: rgba(224, 224, 224, 1); 
  --Color: Mode 1--Typography_on_Light--Disable: rgba(163, 164, 167, 1); 
  --Color: Mode 1--Typography_on_Light--Paragraph: rgba(78, 80, 91, 1); 
  --Color: Mode 1--Typography_on_Light--Header: rgba(14, 20, 44, 1); 
  --Color: Mode 1--Typography_on_Light--Accent: rgba(4, 200, 164, 1); 
  --Color: Mode 1--Typography_on_Dark--Disable: rgba(111, 112, 114, 1); 
  --Color: Mode 1--Typography_on_Dark--Paragraph: rgba(217, 218, 222, 1); 
  --Color: Mode 1--Typography_on_Dark--Header: rgba(255, 255, 255, 1); 
  --Color: Mode 1--Typography_on_Dark--Accent: rgba(4, 200, 164, 1); 

  /* Font-Family: Mode 1 */
  --Font-Family: Mode 1--Header: Montserrat; 
  --Font-Family: Mode 1--Body: Inter; 

  /* Revive: Web */
  --Revive: Web--Typography--Header--Font-Size--H1: 48px; 
  --Revive: Web--Typography--Header--Font-Size--H2: 36px; 
  --Revive: Web--Typography--Header--Font-Size--H3: 32px; 
  --Revive: Web--Typography--Header--Font-Size--H4: 24px; 
  --Revive: Web--Typography--Header--Font-Size--H5: 20px; 
  --Revive: Web--Typography--Header--Line-Height--H1: 60px; 
  --Revive: Web--Typography--Header--Line-Height--H2: 52px; 
  --Revive: Web--Typography--Header--Line-Height--H3: 40px; 
  --Revive: Web--Typography--Header--Line-Height--H4: 32px; 
  --Revive: Web--Typography--Header--Line-Height--H5: 26px; 
  --Revive: Web--Typography--Header--Letter_Spacing--H1: -1.2000000476837158px; 
  --Revive: Web--Typography--Header--Letter_Spacing--H2: -0.800000011920929px; 
  --Revive: Web--Typography--Header--Letter_Spacing--H3: -0.6000000238418579px; 
  --Revive: Web--Typography--Header--Letter_Spacing--H4: -0.4000000059604645px; 
  --Revive: Web--Typography--Header--Letter_Spacing--H5: -0.20000000298023224px; 
  --Revive: Web--Typography--Font-Weight--Light: Light; 
  --Revive: Web--Typography--Font-Weight--Regular: Regular; 
  --Revive: Web--Typography--Font-Weight--Medium: Medium; 
  --Revive: Web--Typography--Font-Weight--SemiBold: SemiBoldm; 
  --Revive: Web--Typography--Paragraph--Font-Size--P1: 24px; 
  --Revive: Web--Typography--Paragraph--Font-Size--P2: 20px; 
  --Revive: Web--Typography--Paragraph--Font-Size--P3: 18px; 
  --Revive: Web--Typography--Paragraph--Font-Size--P4: 16px; 
  --Revive: Web--Typography--Paragraph--Font-Size--P5: 14px; 
  --Revive: Web--Typography--Paragraph--Line-Height--P1: 36px; 
  --Revive: Web--Typography--Paragraph--Line-Height--P2: 28px; 
  --Revive: Web--Typography--Paragraph--Line-Height--P3: 25px; 
  --Revive: Web--Typography--Paragraph--Line-Height--P4: 24px; 
  --Revive: Web--Typography--Paragraph--Line-Height--P5: 21px; 
  --Revive: Web--Typography--Paragraph--Letter_Spacing--P1: 0px; 
  --Revive: Web--Typography--Paragraph--Letter_Spacing--P2: 0px; 
  --Revive: Web--Typography--Paragraph--Letter_Spacing--P3: 0px; 
  --Revive: Web--Typography--Paragraph--Letter_Spacing--P4: 0px; 
  --Revive: Web--Typography--Paragraph--Letter_Spacing--P5: 0px; 
  --Revive: Web--Typography--Label--Font-Size--L1: 20px; 
  --Revive: Web--Typography--Label--Font-Size--L2: 18px; 
  --Revive: Web--Typography--Label--Font-Size--L3: 16px; 
  --Revive: Web--Typography--Label--Font-Size--L4: 14px; 
  --Revive: Web--Typography--Label--Font-Size--L5: 12px; 
  --Revive: Web--Typography--Label--Line-Height--L1: 20px; 
  --Revive: Web--Typography--Label--Line-Height--L2: 18px; 
  --Revive: Web--Typography--Label--Line-Height--L3: 16px; 
  --Revive: Web--Typography--Label--Line-Height--L4: 14px; 
  --Revive: Web--Typography--Label--Line-Height--L5: 12px; 
  --Revive: Web--Typography--Label--Letter_Spacing--L1: 0px; 
  --Revive: Web--Typography--Label--Letter_Spacing--L2: 0px; 
  --Revive: Web--Typography--Label--Letter_Spacing--L3: 0px; 
  --Revive: Web--Typography--Label--Letter_Spacing--L4: 0px; 
  --Revive: Web--Typography--Label--Letter_Spacing--L5: 0px; 
  --Revive: Web--Typography--CAPTION--Font-Size--C1: 14px; 
  --Revive: Web--Typography--CAPTION--Font-Size--C2: 12px; 
  --Revive: Web--Typography--CAPTION--Line-Height--C1: 14px; 
  --Revive: Web--Typography--CAPTION--Line-Height--C2: 12px; 
  --Revive: Web--Typography--CAPTION--Letter-Spacing--C1: 0.5px; 
  --Revive: Web--Typography--CAPTION--Letter-Spacing--C2: 0.5px; 
  --Revive: Web--FrameSettings--Device: 1440px; 
  --Revive: Web--FrameSettings--Margin: 120px; 
  --Revive: Web--FrameSettings--Gutter: 16px; 
  --Revive: Web--FrameSettings--Column: 12px; 
  --Revive: Web--LayoutSetting--Radius--XXL: 32px; 
  --Revive: Web--LayoutSetting--Radius--XL: 24px; 
  --Revive: Web--LayoutSetting--Radius--L: 20px; 
  --Revive: Web--LayoutSetting--Radius--M: 16px; 
  --Revive: Web--LayoutSetting--Radius--XM: 12px; 
  --Revive: Web--LayoutSetting--Radius--S: 8px; 
  --Revive: Web--LayoutSetting--Radius--XS: 4px; 
  --Revive: Web--LayoutSetting--Radius--XXS: 2px; 
  --Revive: Web--LayoutSetting--Gap--Margin: 120px; 
  --Revive: Web--LayoutSetting--Gap--Section_Gap_2: 100px; 
  --Revive: Web--LayoutSetting--Gap--Margin_top_buttom: 80px; 
  --Revive: Web--LayoutSetting--Gap--Margin_top_buttom_M: 60px; 
  --Revive: Web--LayoutSetting--Gap--Content_Gap: 40px; 
  --Revive: Web--LayoutSetting--Gap--Title_Gap: 32px; 
  --Revive: Web--LayoutSetting--Gap--Card_Gap: 16px; 
  --Revive: Web--LayoutSetting--Gap--Padding_L: 32px; 
  --Revive: Web--LayoutSetting--Gap--Padding_M: 24px; 
  --Revive: Web--LayoutSetting--Gap--Padding_S: 16px; 
  --Revive: Web--LayoutSetting--Gap--Padding_XS: 8px; 
  --Revive: Web--LayoutSetting--Gap--Padding_XXS: 4px; 
  --Revive: Web--LayoutSetting--Gap--XXS: 2px; 

  --P1: 36px; 
  --P2: 28px; 
  --P3: 25px; 
  --P4: 24px; 
  --P5: 21px; 

}
